@font-face {
    font-family: "corbel";
    src: url("/fonts/corbel.ttf") format("truetype");
}

body {
    font-family: corbel;
}

span.ecom-wishlist-qty {
    color: white;
    height: 19px;
    width: 34px;
    background: #020202;
    line-height: 0;
    text-align: center;
    padding: 6px 10px;
    border-radius: 42px;
    box-shadow: 0 0 4px 0px #5f5f5f;
}


#top .btn-link, #top-links li, #top-links a {
    font-size: 16px;
    letter-spacing: 0;
}